@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Playfair Display", serif; */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
/* .my_image{
    height: 300px;
    width: 300px;
    border-radius: 10px 20px 20px 10px ;
    float: left;
    margin: 50px;
    box-shadow: 9px 5px 5px rgb(33, 150, 196);
}
.my_image:hover{
    transform: scale(1.1);
    transition: ease-in-out 200ms;
}
.about_content>h4{
    color: orangered;
}
.about_content>h4>span{
    color: black;
}
.about_content>p{
    color: black;
}
.about_para{
    display: inline;
    font-size: 20px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.about_content{
    text-indent: 40px;
    padding-top: 50px;
    font-family: "Playfair Display", serif;
    font-size: 30px;
} */

/* @media screen and (min-width:767px) {
    .about_para{
        font-size: 25px;
    }  
} */
/* @media screen and (max-width:767px) {
    .about_content{
        flex: 0.7;
        width: auto;
        align-items: center;
        margin-top: 0px;
      }
} */

.about{
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;

}
.my_image{
    height: 250px;
    float: left;
    border: 5px solid lightseagreen;
    border-radius: 10px;
    margin: 10px;
}
.about>h4{
    text-align: center;
    text-shadow: 1px 1px 2px;
    font-family: "Teko", sans-serif;
    font-size: 32px;
    text-shadow: 1px 1px 1px blue ;

}
.about_content>p{
    font-family: "Playfair Display", serif;
    text-indent: 50px;
    font-weight: 800;
    color: lightslategrey;
    font-size: 18px;
}
.personal_details{
    display: inline;
}
.personal_details>div{
    display: grid;
    grid-template-columns: auto auto;
}
.personal_details>h5{
    font-family: "Playfair Display", serif;
    font-weight: 700;
}
.personal_details>div>p{
    color: lightslategrey;
    font-family: "Playfair Display", serif;
    font-weight: 700;
}
.personal_details>div>p>span{
    color: lightseagreen;
}
.about_container{
    padding: 10px;
    padding-top: 30px;
}
/* .about_icons>a>svg{
    color: black;
    height: 30px;
    display: flex;
    padding: 8px;
} */



