.about{
    background-color: white;  
    /* border: 1px solid black; */
   
}
.my_image{
    height: 300px;
    width: 300px;
     border-radius: 10px 20px 20px 10px ;
    /*border-left: 20px solid rgb(148, 192, 212);
    border-top:20px solid rgb(148, 192, 212) ;
    /* padding: 40px; */
    margin: 30px;
    margin-top: 80px;
    box-shadow: 9px 5px 5px rgb(33, 150, 196);
}
.my_image:hover{
    transform: scale(1.1);
}
.about_container{
    display: flex;
}
.about_container>div{
    display: inline;
}
.about_content{
    padding: 40px;
    font-size: xx-large;
    display: inline;
    width: auto;
}
.about_content>h4{
    color: orangered;
}
.about_content>h4>span{
    color: black;
}
.about_content>p{
    color: black;
}
.college{
    width: auto;
    height: auto;
    /* border: 1px solid black; */
    border-radius:5px ;
    padding: 10px;
    display: flex   ;
    gap: 30px;
}

.clg_img{
    height: 150px;
    width: 150px;
    border-radius: 5px;
}
.school_img{
    height: 150px;
    width: 150px;
    border-radius: 5px;
}
.hse{
    width: auto;
    height: auto;
    /* border: 1px solid black; */
    border-radius:5px ;
    padding: 10px;
    display: flex   ;
    gap: 30px;
}
.education_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}