@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

.nav_list_experience{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
legend>h1{
    text-align: center;
    text-shadow: 1px 1px 1px blue;
}

.non-tech{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}
.non-tech>div>img{
    height: 200px;
    width: 250px;
}
.company{
    font-weight: bolder;
    font-size: 25px;
    color: red;
    text-shadow: 1px 1px 1px black;
}
.address{
    font-size:20px ;
    text-shadow: 1px 1px 1px black;
}
.doj{
    font-size:20px ;
    text-shadow: 1px 1px 1px black;
}
.dor{
    font-size:20px ;
    text-shadow: 1px 1px 1px black;
}
summary>span{
    font-size: 20px;
    color: blue;
    text-shadow: 1px 1px 1px black;
}
details>p{
    font-size: 15px;
    font-weight: bolder;
}
legend>h1{
    text-align: center;
    color: black;
    font-family: "Teko", sans-serif;
}
.work_experience{
    margin-top: 30px;
}
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
.experience>h2{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    text-shadow: 1px 1px 1px;
}
.experience>div>h2>span{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    text-shadow: 1px 1px 1px;

}
.experience>div>h2{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    text-shadow: 1px 1px 1px;
}
