@media (min-width:300px) and (max-width : 768px){
    .navbar_right{
        display: list-item;
        text-align: center;
    }
    .navbar_right>a>h4{
        font-size: small;
        padding: auto;
    }
    .navbar_right>a>h4:hover{
        font-size: medium;
        padding: auto;
        transform: scale(0.9);
    }
    .navbar_left>h1{
        letter-spacing: 0.5px;
        padding: 50px 0;
        text-align: center;
        margin: 10px;
    }
}
